@model Day2.Models.UsersViewModel

<div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        @foreach (var user in @Model.Users)
        {
            <tr>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.Surname
                </td>
            </tr>
        }
    </table>
</div>
